# .env file used by load_dotenv to insert environment variables in the jupter environment
# copy example.env to .env
# Required for research agents with external search
TAVILY_API_KEY=tvly-dev-3MbyU2-mJbVvq******9ujPnIqm1abmcj

# Required for model usage
# apiKey自己去deepseek平台创建填写到这里即可，baseUrl不用动
DEEPSEEK_API_KEY = sk-da6476d3c******64714633
DEEPSEEK_BASE_URL = https://api.deepseek.com

# Optional: For evaluation and tracing
# LANGSMITH是一个全链路追踪工具，可以尝试使用下，这样每次Agent交互都可以在管理后台查看详细交互数据
LANGSMITH_API_KEY=lsv2_pt_c7ebab8******9bed1e45e6b60307_d96793083d
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=deep-agents-from-scratch
